* {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  text-align: center;
}

audio {
  width: 450px;
  margin: 30px 0;
}

.container {
  height: 420px;
  overflow: hidden;
}
.container ul {
  transition: 0.6s;
  list-style: none;
}
.container li {
  height: 30px;
  line-height: 30px;
  transition: 0.2s;
  background: #666 -webkit-linear-gradient(left, #0ffd0f, #0ffd0f) no-repeat 0 0;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 0 100%;

}
.container li.active {
  transform: scale(1.2);
}
@keyframes scan {
  0% {
    background-size: 0% 100%;
  }

  100% {
    background-size: 100% 100%;
  }
}
